@media screen and (max-width: 700px){

    #today,
    .days{
        margin-top: 10vh;

    }

    p{
        font-size: 40px;
    }
}


@media screen and (min-width: 750px){
    .bottom-row{
        display: table-row;
        border-collapse: collapse;
    }

    .days{
        display: table-cell;
    }
}


body{
    background-color: #E6F3F7;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}


.inline{
    display: inline;
}

.top-div{
    margin-top: 2vh;
}
#location{
    margin-top: 3vh;
    font-variant: small-caps;
    font-weight: bold;
    font-style: oblique;
}
.bold{
    font-weight: 900;
}

.light-bold{
    font-weight: 600;
}

#convert-button{
    background-color: #660000;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.4em;
    border-radius: 25px;
}

#convert-button:hover{
    cursor: pointer;
}
#today{
    margin-bottom: 3vh;
}

p{
    font-size: 1.2em;
}

.metric{
    display:none;
}

.weather-day:hover{
    cursor: pointer;
    cursor: hand;
}


.modal-content
 {
    background-color: #F3F3F3;;
}

.modal-header{
    height: 13vh;
}

.modal-body{
    background-color: #FAFAFA;
}
