


@media screen and (max-width: 700px){

    #today,
    .days{
        margin-top: 10vh;

    }

    p{
        font-size: 40px;
    }
}



@media screen and (min-width: 750px){
    .bottom-row{
        display: table-row;
        border-collapse: collapse;
    }

    .days{
        display: table-cell;
    }
}

@media screen and (max-width: 400px){
    .hours-div{
        margin-top: 7vh;
    }
    .hourly-condition {
        font-size: 13px;

    }

    .hour-temp{
        font-size: 20px;
    }

    .hour-forecast-h2{
        padding-left: 22vw;
    }

    .weather-day{
        margin-top: 0;
    }

    .day-forecast-h2{
        margin-top: 5vh;
    }
}

@media screen and (min-width: 400px) and (max-width: 990px){
    .hours-div{
        padding-left: 20vw;
    }

    .hour-forecast-h2{
        padding-left: 22vw;
    }

    .day-forecast-h2{
        margin-top: 6vh;
    }

    .weather-day{
        margin-top: -2vh;
    }
}


body{
    background-color: #E6F3F7;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}


.inline{
    display: inline;
}

.top-div{
    margin-top: 2vh;
}
#location{
    margin-top: 3vh;
    font-variant: small-caps;
    font-weight: bold;
    font-style: oblique;
}
.bold{
    font-weight: 900;
}

.light-bold{
    font-weight: 600;
}

#convert-button{
    background-color: #660000;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.4em;
    border-radius: 25px;
}

#convert-button:hover{
    cursor: pointer;
}
#today{
    margin-bottom: 3vh;
}

.hour-forecast-h2{
    margin-left: -22vw;
}

.hourly-div{
    margin-top: 2vh;
}

.hour-temp,
.hourly-condition{
    margin-left: 1vw;
}

.hour-image{
    margin-left: -4vw;
}

.block{
    display: block;
}

p{
    font-size: 1.2em;
}

.metric{
    display:none;
}


.weather-day:hover{
    cursor: pointer;
    cursor: hand;
}


.modal-content
 {
    background-color: #F3F3F3;;
}

.modal-header{
    height: 13vh;
}

.modal-body{
    background-color: #FAFAFA;
}
