
@media screen and (max-width: 700px){
    .hourly-div{
        width: 100%;
    }
}

@media screen and (max-width: 700px){



    p{
        font-size: 40px;
    }

    .weather-day{
        padding-top: 5vh;
    }
}



@media screen and (min-width: 701px) and (max-width: 1025px){
    .bottom-row{
        display: table-row;
        border-collapse: collapse;
    }

    .days{
        display: table-cell;
    }

    .hourly-info{
        padding-left: 6vw;;
    }
}

@media screen and (max-width: 430px){
    .hours-div{
        margin-top: 7vh;
        width: 100vw;
    }

    .hourly-div{
        margin-left: 7vw;
    }
    .top-div{
        margin-top: 10vh;
    }

    .hourly-condition {
        font-size: 12px;
    }


    .hour-time{
        font-size: 15px;
    }
    .hour-temp{
        font-size: 15px;
    }


    .weather-day{
        margin-top: 0;
    }

    .day-forecast-h2{
        margin-top: 5vh;
    }

    .hourly-condition{
        font-weight: bold;
    }
}

@media screen and (min-width: 400px) and (max-width: 990px){
    .hours-div{
        margin-top: 10vh;
    }

    .hour-forecast-h2{
        width: 100%;
        margin-left: 3vw;
    }

    .hourly-info{
        padding-left: 8vw;
    }

    .day-forecast-h2{
        margin-top: 6vh;
    }

    .hourly-condition{
        font-weight: bold;
    }

    .weather-day{
        margin-top: -2vh;
    }
}

@media screen and (min-width: 400px) and (max-width: 535px){
    .hours-div{
        width: 100vw;
    }

    .hourly-condition{
        font-size: 15px;
    }

}

@media screen and (min-width: 1441px){
    .hour-temp{
        margin-left: -3vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .weekday-name{
        font-size: 24px;
    }

    .convert-div{
        width: 50vw;
        margin-left: 25vw;;
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px){

    .convert-div{
        width: 50vw;
        margin-left: 25vw;;
    }
}


@media screen and (min-width: 475px) and (max-width: 995px){
    .hourly-div{
        margin-left: 20vw;
    }
}


body{
    background-color: #E6F3F7;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}


.inline{
    display: inline;
}

.top-div{
    margin-top: 2vh;
}
#location{
    margin-top: 3vh;
    font-variant: small-caps;
    font-weight: bold;
    font-style: oblique;
}
.bold{
    font-weight: 900;
}

.light-bold{
    font-weight: 600;
}

#convert-button{
    background-color: #660000;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.4em;
    border-radius: 25px;
}

#convert-button:hover{
    cursor: pointer;
}
#today{
    margin-bottom: 3vh;
}


.hours-div{
    margin-left: -5vw;
}

.hourly-condition{
    margin-left: 1vw;
}


.hour-image{
    margin-left: 1vw;
}

.hourly-info{
    margin-left: -4vw;
}

.block{
    display: block;
}

p{
    font-size: 1.2em;
}

.metric{
    display:none;
}


.weather-day:hover{
    cursor: pointer;
    cursor: hand;
}


.modal-content
 {
    background-color: #F3F3F3;;
}

.modal-header{
    height: 13vh;
}

.modal-body{
    background-color: #FAFAFA;
}
